html{
    width: 100%;
    background: #222;
    color: #ccc;

    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.3em;
    letter-spacing: 2px;

    text-align: center;
}

body{
    font-size: 14px;
    font-weight: 300;
    color: #aaa;
}

h1 {
    font-size: 36px;
    font-weight: 100;
    color: #0fc;
    letter-spacing: 3px;
}

h2 {
    font-size: 18px;
    font-weight: 300;
    color: #0fc;
    margin-top: 48px;
    margin-left: 0;
    text-align: right;
    width: 400px;
    border-bottom: dotted 1px #097;
}

h3 {
    font-size: 18px;
    font-weight: 500;
    color: #0fc;
    letter-spacing: 3px;
}

h4 {
    font-size: 11px;
    font-weight: 700;
    letter-spacing: 3px;
    color: #666;

    margin-top: -16px;
}

a {
    color: #f0c;
}

::selection {
    color: #0fc;
    background: #999;
}

input, button {
    color: #ccc;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;

    background: #111;
    border: solid 1px #666;
    outline: none;
    padding: 8px;
    text-align: left;

    transition-duration: 0.2s;
}

input::-webkit-input-placeholder {
    font-size: 18px;
    color: #666;
    font-style: italic;
}

ul {
    list-style: none;
}

ul button{
    color: #aaa;
    background: #222;

    transition-duration: 0.2s;
}

button:hover, input:focus{
    /*color: #0fc;*/
    border: solid 1px #0fc;

    transition-duration: 0.2s;
}

button:active {
    color: #222;
    background: #0fc;

    transition-duration: 0.00s;
}

#titlebar {
    margin: -8px -8px;
    padding: 2px;
    background: #111;
    border-bottom: solid 1px #097;
}

#todo-app {
    margin: 16px 128px;
    padding: 32px;
    background: #333;
    border: solid 1px #666;
    text-align: left;
}

#todo-app input{
    background: #2c2c2c;
    margin: auto;
    width: 95%;
    font-size: 18px;
    border: dotted 1px #444;
}

#todo-list input {
    background: #333;
    margin: auto;
    width: 95%;
    font-size: 18px;
    border: dotted 1px #444;
}

#todo-app input:hover,
#todo-list input:hover { border: dotted 1px #097; }

#todo-app input:focus {
    background: #2c2c2c;
    border: solid 1px #0fc;
}
#todo-list input:focus {
    background: #333;
    border: solid 1px #0fc;
}


#todo-lists {
    background: #2c2c2c;
    padding: 16px 32px;
    border: solid 1px #097;
}

#todo-items ul {
    position: relative;
    font-size: 16px;

    background: #333;
    margin: 0px 10px 0px -20px;
    padding: 8px 16px;
    /*border-bottom: solid 1px #222;*/
}
#todo-items ul:first-child {
    /*border-top: solid 1px #222;*/
}